@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
main {
    height: 100vh;
    background-image: url(/images/roadster-1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.title {
    width: 100%;
    height: 40vh;

}
.title-1 {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.title-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 3em;
    color: whitesmoke;
    font-weight: 800;
    font-family: monospace;
}
.title-3 {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto',sans-serif;
}
.rate {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.accleration {
    width: 300px;
   

}
.range {
    width: 300px;
  
   
}
.battery {
    width: 300px;
}
.safety {
    width: 300px;
}
.stars {
   color: yellow;

}

@media screen and (max-width:375px){
    .title-2 {
        font-size: 2em;
    }
}